@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    border-radius: $border-radius;
    &.is-round {
      padding: $padding-vertical $padding-horizontal;
    }
}

@mixin when($state) {
  @at-root {
    &.#{'is-' + $state} {
      @content;
    }
  }
}

@mixin b($block) {
  $B: 'rm-'+$block !global;

  .#{$B} {
    @content;
  }
}
@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + '-'+ $unit + ","};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}